.title {
  /* background-size: cover; */
  background-image: url("../img/background2.png");
}


#title {
  color: white;
}

.white {
  color: white !important;
  font-weight: bold;
}

.grey {
  color: grey !important;
}

.jumbotron {
    border-radius: 0 !important;
}
