.title {
  /* background-size: cover; */
  background-image: url("https://github.com/matthijsdewit111/CSS/blob/master/static/img/background2.png?raw=true");
}


#title {
  color: white;
}

.white {
  color: white !important;
  font-weight: bold;
}

.grey {
  color: grey !important;
}

.jumbotron {
    border-radius: 0 !important;
}
