<!DOCTYPE html>
<html lang="en">
<head>
  <title>Simulating neuronal dendrites with diffusion-limited aggregation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron title text-center" style="margin-bottom:0">
  <h2 id="title">Simulating neuronal dendrites with diffusion-limited aggregation</h2>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a class="navbar-brand grey" href="../index.html">Overview</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="navbar-brand">
        <a class="nav-link" href="theory.html">Theory</a>
      </li>
      <li class="navbar-brand">
        <a class="nav-link" href="model.html">Model</a>
      </li>
      <li class="navbar-brand">
        <a class="nav-link" href="experiment.html">Experiment</a>
      </li>
      <li class="navbar-brand">
        <a class="nav-link" href="results.html">Results</a>
      </li>
      <li class="navbar-brand">
        <a class="nav-link white" href="#">Conclusion</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Page content -->
<br><br>
<h1 class="text-center">Conclusion</h1>
<br>

<hr style="width:50%;">

<!-- FINDINGS -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <br>
    <div>
      <h3 class="text-center">Findings</h3><br>

      <ol>
        <li>Increased pruning span:</li>
          <ul>
            <li>Decreased length ratio</li>
            <li>Less terminal leafs</li>
            <li>Lower branching order</li>
            <li>Asymmetry index remains stable for diffusion & variable for random walker (due to lower n)</li>
          </ul>
        <br>
        <li>Abrupt change in 3D system for pruning span between 10 and 20?</li>
        <br>
        <li>No distinguishable dendrite types (Luczak, 2006)
      </ol>
    </div>
    <br>
  </div>
  <div class="col-md-4"></div>
</div>

<!-- RQ & HYPOTHESIS -->
<div class="row text-center">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <br>
    <div class="grey-box">
      <h3>Research question</h3><br>
      <ul>
      <a style="font-size: 18px">To what extent does pruning affect neuronal dendrites simulated by diffusion-limited aggregation?</a><br><br>
    </div>
    <br>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row text-center">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <br>
    <h3>Hypothesis</h3><br>
    <ul>
      <!-- <a style="font-size: 27px">&rarr;  </a><a style="font-size: 18px">To what extent can diffusion-limited aggregation reproduce various types of neuronal dendrites by including pruning?</a><br><br> -->
      <!-- <a style="font-size: 27px">&rarr;  <a style="font-size: 18px">To what extent can various types of neuronal dendrite be simulated by pruning of a diffusion-limited aggregation model?</a><br><br> -->
      <!-- <a style="font-size: 27px">&rarr;  <a style="font-size: 18px">To what extent can various types of neuronal dendrite be reproduced using diffusion-limited aggregation including pruning</a><br><br> -->
      <p class="hyp-item-green">&bull; Higher pruning &rarr; lower amount of terminal leafs
      <p class="hyp-item-green">&bull; Higher pruning &rarr; longer dendrites
      <!-- <p class="hyp-item-green">Lower pruning &rarr; more spread out dendrites & many terminal leafs -->
      <br>
    </ul>
    <br>
  </div>
  <div class="col-md-2"></div>
</div>

<hr style="width:70%;">

<!--  FUTURE DIRECTIONS -->
<div class="row text-center">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <br>
    <h3>Future directions</h3><br>
    <ul>
      <!-- <a style="font-size: 27px">&rarr;  </a><a style="font-size: 18px">To what extent can diffusion-limited aggregation reproduce various types of neuronal dendrites by including pruning?</a><br><br> -->
      <!-- <a style="font-size: 27px">&rarr;  <a style="font-size: 18px">To what extent can various types of neuronal dendrite be simulated by pruning of a diffusion-limited aggregation model?</a><br><br> -->
      <!-- <a style="font-size: 27px">&rarr;  <a style="font-size: 18px">To what extent can various types of neuronal dendrite be reproduced using diffusion-limited aggregation including pruning</a><br><br> -->
      <p>&bull; Increase number of simulations
      <p>&bull; Investigate pruning spans between 10 & 20 to find critical point
      <br>
    </ul>
    <br>
  </div>
  <div class="col-md-2"></div>
</div>

<!-- Footer -->
<footer class="center jumbotron page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  <div class="container text-center">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 ">
        <h5 class="font-weight-bold text-uppercase mb-4">Project</h5><hr>
        <text>MSc Computational Science</text>
        <br>
        <text>Course:</text>
        <text>Complex System Simulation</text>
        <br>
        <a href="https://github.com/matthijsdewit111/CSS">Github</a>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 ">
        <br><br>
        <img src="https://bynder-public-eu-central-1.s3.amazonaws.com/media/9E3E0032-62BD-4694-A3CCB1BC17CA3CAF/BBDB7DB9-5187-46C5-908AB229C90C45A0/webimage-E84EDC72-C434-4FB1-9538BDB3C3B8188F.png" alt="uva logo" width="150px" height="33px">
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 ">

          <h5 class="font-weight-bold text-uppercase mb-4">Authors</h5><hr>

          <text>Parva Alavian</text><br>
          <text>Coen Lenting</text><br>
          <text>Sam Verhezen</text><br>
          <text>Matthijs de Wit</text>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

    </div>
    <!-- Grid row -->

  </div>
  <br><br>
  <!-- Footer Links -->



</body>
</html>
